@import url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/fonts/google-sans.css");
@import url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/fonts/google-sans-code.css");
@import url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/icons.css");
:root {
  --app-font: "Google Sans";
  --app-bg: var(--main-alt);
  --app-watermark-one: "Material";
  --app-watermark-two: "Discord";
  --app-title-bar-height: 22px;
  --app-button-min: hsl(39,100%,63%);
  --app-button-max: hsl(143,100%,40%);
  --app-button-close: hsl(1,100%,68%);
  --accent-hue: 224;
  --accent-saturation: 71%;
  --accent-lightness: 61%;
  --accent-hsl: var(--accent-hue),calc(var(--accent-saturation) * var(--saturation-factor)),var(--accent-lightness);
  --accent-text-color: hsl(0,0%,100%);
  --alert-hue: 0;
  --alert-saturation: 85%;
  --alert-lightness: 61%;
  --alert-hsl: var(--alert-hue), calc(var(--alert-saturation) * var(--saturation-factor)), var(--alert-lightness);
  --alert-text-color: hsl(0,0%,100%);
  --warning-hue: 44;
  --warning-saturation: 71%;
  --warning-lightness: 61%;
  --warning-hsl: var(--warning-hue), calc(var(--warning-saturation) * var(--saturation-factor)), var(--warning-lightness);
  --warning-text-color: hsl(0,0%,100%);
  --reply-hue: var(--warning-hue);
  --reply-saturation: var(--warning-saturation);
  --reply-lightness: var(--warning-lightness);
  --reply-hsl: var(--reply-hue), calc(var(--reply-saturation) * var(--saturation-factor)), var(--reply-lightness);
  --reply-opacity: 0.3;
  --reply-text-color: var(--warning-text-color);
  --success-hue: 153;
  --success-saturation: 46%;
  --success-lightness: 49%;
  --success-hsl: var(--success-hue), calc(var(--success-saturation) * var(--saturation-factor)), var(--success-lightness);
  --success-text-color: hsl(0,0%,100%);
  --sidebar-panel-radius-big: calc(var(--main-textarea-height) / 2);
  --sidebar-panel-radius-small: 4px;
  --message-radius: 18px;
  --message-padding-top: 8px;
  --message-padding-side: 12px;
  --main-textarea-border: var(--input-border-color);
  --main-textarea-height: 54px;
  --main-textarea-radius: calc(var(--main-textarea-height) / 2);
  --main-textarea-inner-padding: 6px;
  --media-radius: calc(var(--message-radius) / 1.75);
  --card-radius: 8px;
  --card-radius-big: 18px;
  --button-height: 40px;
  --button-radius: calc(var(--button-height) / 2);
  --button-padding: 16px;
  --button-padding-start: var(--button-padding);
  --button-padding-end: var(--button-padding);
  --button-padding-has-icon: calc(var(--button-padding) / 1.33333);
  --button-font-size: 14px;
  --button-link-accent-color: var(--accent-hsl--material-you);
  --button-link-accent-text-color: hsl(var(--accent-hsl--material-you));
  --button-action-color: hsl(0,0%,100%);
  --button-action-hover: 0.06;
  --button-action-active: 0.12;
  --input-height: var(--button-height);
  --input-radius: calc(var(--input-height) / 2);
  --input-padding: 12px;
  --typing-color: hsl(from var(--chat-color) h s l / 0.9);
  --emoji-category-header: hsl(from var(--popout-color) h s l / 0.95);
  --popout-radius: var(--card-radius);
  --popout-radius-big: var(--card-radius-big);
  --avatar-radius: 24px;
  --channel-radius: 21px;
  --slider-width: 16px;
  --slider-height: 16px;
  --slider-radius: 8px;
  --slider-grabber-height: 44px;
  --slider-grabber-background: var(--main-color);
  --slider-grabber-pill: hsl(var(--accent-hsl--material-you));
  --tooltip-color: hsl(0,0%,38%,0.9);
  --tooltip-border-color: hsl(0,0%,51%);
  --tooltip-text-color: hsl(0,0%,87%);
  --tooltip-font-size: 12px;
  --tooltip-padding: 8px;
  --tooltip-radius: 8px;
  --tooltip-shadow: 0px 5px 15px hsl(0,0%,0%,0.2);
  --shadow-1dp: 0 2px 2px 0 hsl(0,0%,0%,0.14), 0 3px 1px -2px hsl(0,0%,0%,0.2), 0 1px 5px 0 hsl(0,0%,0%,0.12);
  --shadow-2dp: 0 4px 5px 0 hsl(0,0%,0%,0.14), 0 1px 10px 0 hsl(0,0%,0%,0.12), 0 2px 4px -1px hsl(0,0%,0%,0.2);
  --shadow-3dp: 0 8px 10px 1px hsl(0,0%,0%,0.14), 0 3px 14px 2px hsl(0,0%,0%,0.12), 0 5px 5px -3px hsl(0,0%,0%,0.2);
  --shadow-soft: hsl(0,0%,0%,0.12) 0px 8px 22px;
  --shadow-medium: hsl(0,0%,0%,0.28) 0px 8px 24px;
  --shadow-hard: hsl(0,0%,0%,0.44) 0px 8px 24px;
  --default-animation: cubic-bezier(0.4,0,0.2,1);
  --default-time: 250ms;
  --scrollbar-width: 10px;
  --scrollbar-thin-width: 6px;
  --code-font: "Google Sans Code";
  --text-normal: var(--interactive-text-default);
  --custom-channel-header-height: calc(var(--guildbar-avatar-size) + var(--space-8));
}

.theme-dark {
  --app-button-active: hsl(0,0%,100%,0.1);
  --app-button-inactive: hsl(0,0%,100%,0.05);
  --main-color: hsl(225,8%,9%);
  --main-alt: hsl(220,9%,6%);
  --accent-hsl--material-you: var(--accent-hsl);
  --accent-text-color--material-you: var(--accent-text-color);
  --accent-secondary-color: hsl(from hsl(var(--accent-hsl)) h calc(s * 0.2) calc(l * 0.5));
  --accent-secondary-text-color: var(--accent-text-color);
  --server-color: transparent;
  --server-folder-color: hsl(0,0%,100%,0.085);
  --status-picker-color: hsl(228,5%,18%);
  --sidebar-panel-color: hsl(228,7%,14%);
  --chat-color: var(--main-color);
  --message-color: hsl(216,7%,14%);
  --message-color-hover: hsl(216,7%,18%);
  --message-color-alt: hsl(216,7%,13%);
  --attachment-color: hsl(216,7%,9%);
  --main-textarea-color: hsl(240,4%,18%);
  --main-textarea-inner-color: hsl(240,4%,11%);
  --main-textarea-button-color: hsl(240,4%,72%);
  --popout-color: hsl(214,7%,19%);
  --popout-color-alt: hsl(216,7%,14%);
  --popout-header-border: hsl(0,0%,100%,0.125);
  --separator-color: hsl(0,0%,100%,0.125);
  --header-secondary: hsl(0,0%,92%);
  --profile-body-background-color: hsl(225,6%,14%);
  --input-color: hsl(240,4%,16%);
  --input-color-alt: hsl(240,2%,22%);
  --input-border-color: hsl(0,0%,29%);
  --input-text-color: hsl(0,0%,85%);
  --input-placeholder-color: hsl(0,0%,59%);
  --input-pill-color: hsl(0,0%,100%,0.125);
  --tab-border-color: hsl(0,0%,100%);
  --interactive-muted: hsl(0,0%,41%);
  --text-disabled: hsl(0,0%,40%);
  --menu-item-hover: hsl(0,0%,100%,0.075);
  --menu-item-select: hsl(0,0%,100%,0.1);
  --menu-item-select-accent-opacity: 0.3;
  --menu-item-text-color: hsl(0,0%,76%);
  --card-color-outlined: transparent;
  --card-color-filled: hsl(225,6%,13%);
  --card-color-hover: hsl(225,6%,16%);
  --card-color-active: hsl(225,6%,25%);
  --card-color-alt: hsl(225,6%,18%);
  --card-color-alt-hover: hsl(225,6%,21%);
  --card-border-color: hsl(220,3%,26%);
  --card-header-text-color: hsl(0,0%,93%);
  --card-button-color: hsl(0,0%,100%,0.09);
  --card-button-color-hover: hsl(0,0%,100%,0.135);
  --activity-card-color: hsl(0,0%,100%,0.0475);
  --activity-card-color--hover: hsl(0,0%,100%,0.06);
  --activity-card-color--active: hsl(0,0%,100%,0.07);
  --activity-card-color--inset: hsl(0,0%,100%,0.05);
  --button-link-color: hsl(0,0%,100%);
  --button-link-text-color: hsl(0,0%,100%);
  --button-border-color: hsl(0,0%,27%);
  --switch-knob-color: hsl(0,0%,47%);
  --switch-knob-color-modal: hsl(0,0%,56%);
  --switch-knob-checked: var(--accent-text-color);
  --switch-slider-color: hsl(240,1%,20%);
  --switch-slider-color-modal: var(--switch-slider-color);
  --switch-slider-checked: hsl(var(--accent-hsl));
  --switch-color-modifier: 1.3;
  --slider-bar-background: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.36) calc(l * 0.32));
  --slider-mark-color: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.33) calc(l * 0.5));
  --md-ripple-color: 0,100%,100%;
  --scrollbar-color: hsl(0,0%,82%);
  --text-brand: hsl(var(--accent-hsl));
  --text-link: hsl(var(--accent-hsl));
}

.theme-light {
  --app-button-active: hsl(0,0%,0%,0.2);
  --app-button-inactive: hsl(0,0%,0%,0.1);
  --main-color: hsl(0,0%,98%);
  --main-alt: hsl(0,0%,91%);
  --accent-hsl--material-you: var(--accent-hsl);
  --accent-text-color--material-you: var(--accent-text-color);
  --accent-secondary-color: hsl(from hsl(var(--accent-hsl)) h calc(s * 0.6) calc(l * 1.425));
  --accent-secondary-text-color: hsl(from hsl(var(--accent-hsl)) h calc(s * 0.7) calc(l * 0.4));
  --server-color: transparent;
  --server-folder-color: hsl(0,0%,0%,0.1);
  --status-picker-color: hsl(180,3%,87%);
  --sidebar-panel-color: hsl(210,5%,93%);
  --chat-color: var(--main-color);
  --message-color: hsl(210,4%,90%);
  --message-color-hover: hsl(210,4%,86%);
  --message-color-alt: hsl(210,4%,84%);
  --attachment-color: hsl(210,4%,79%);
  --main-textarea-color: hsl(0,0%,85%);
  --main-textarea-inner-color: hsl(0,0%,97%);
  --main-textarea-button-color: hsl(0,0%,36%);
  --main-textarea-color-alt: hsl(0,0%,98%);
  --popout-color: hsl(0,0%,100%);
  --popout-color-alt: hsl(0,0%,90%);
  --popout-header-border: hsl(0,0%,80%);
  --separator-color: hsl(0,0%,0%,0.195);
  --header-secondary: hsl(0,0%,27%);
  --profile-body-background-color: hsl(0,0%,93%);
  --input-color: hsl(0,0%,89%);
  --input-color-alt: hsl(0,0%,100%);
  --input-border-color: hsl(0,0%,66%);
  --input-text-color: hsl(0,0%,17%);
  --input-placeholder-color: hsl(0,0%,39%);
  --input-pill-color: hsl(0,0%,0%,0.135);
  --tab-border-color: hsl(0,0%,47%);
  --interactive-muted: hsl(0,0%,60%);
  --text-disabled: hsl(0,0%,75%);
  --menu-item-hover: hsl(0,0%,0%,0.1);
  --menu-item-select: hsl(0,0%,0%,0.125);
  --menu-item-select-accent-opacity: 0.4;
  --menu-item-text-color: hsl(0,0%,20%);
  --card-color-outlined: transparent;
  --card-color-filled: hsl(0,0%,92%);
  --card-color-hover: hsl(0,0%,85%);
  --card-color-active: hsl(0,0%,80%);
  --card-color-alt: hsl(0,0%,98%);
  --card-color-alt-hover: hsl(0,0%,88%);
  --card-border-color: hsl(0,0%,78%);
  --card-header-text-color: hsl(0,0%,20%);
  --card-button-color: hsl(0,0%,100%,1);
  --card-button-color-hover: hsl(0,0%,0%,0.1);
  --activity-card-color: hsl(0,0%,0%,0.0785);
  --activity-card-color--hover: hsl(0,0%,0%,0.1);
  --activity-card-color--active: hsl(0,0%,0%,0.125);
  --activity-card-color--inset: hsl(0,0%,100%,0.685);
  --button-link-color: hsl(0,0%,0%);
  --button-link-text-color: hsl(0,0%,20%);
  --button-border-color: hsl(0,0%,80%);
  --switch-knob-color: hsl(0,0%,49%);
  --switch-knob-color-modal: hsl(0,0%,56%);
  --switch-knob-checked: var(--accent-text-color);
  --switch-slider-color: hsl(0,0%,81%);
  --switch-slider-color-modal: var(--switch-slider-color);
  --switch-slider-checked: hsl(var(--accent-hsl));
  --slider-bar-background: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.36) calc(l * 2));
  --slider-mark-color: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.54) calc(l * 1.5));
  --md-ripple-color: 0,0%,0%;
  --scrollbar-color: hsl(0,0%,10%);
  --text-brand: hsl(var(--accent-hsl));
  --text-link: hsl(var(--accent-hsl));
  --shadow-soft: hsl(0,0%,0%,0.12) 0px 8px 22px;
  --shadow-medium: hsl(0,0%,0%,0.28) 0px 8px 24px;
  --shadow-hard: hsl(0,0%,0%,0.44) 0px 8px 24px;
}

/*
 *
 *	APP ELEMENTS
 *
 */
* {
  font-family: var(--app-font), sans-serif !important;
}

::selection {
  background: hsl(var(--accent-hsl), 0.35);
  text-shadow: none;
}

body,
.a3002d7de5be5280-app {
  background-color: transparent;
}

._960e4207cea8323e-bg,
._51fd70792ee2e563-appMount,
.a2f5142ba8328dfd-container {
  background: var(--app-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

._960e4207cea8323e-bg {
  background-color: var(--main-alt);
}
._960e4207cea8323e-bg.theme-dark {
  background-color: var(--main-alt);
}

._51fd70792ee2e563-appMount {
  --custom-channel-textarea-text-area-height: calc(var(--main-textarea-height) - (var(--main-textarea-inner-padding) * 2));
}

._160d8e55254637e5-app {
  background-color: transparent;
}

.platform-win ._960e4207cea8323e-bg {
  top: calc((var(--app-title-bar-height) + 4px) * -1);
}

.edefb8e22d63c542-anchor,
.a2f5142ba8328dfd-icon,
.low-saturation .edefb8e22d63c542-anchor,
.colorBrand-21Le_q, .colorBrand_c9946a {
  color: hsl(var(--accent-hsl));
}

/* APP ELEMENTS -> LIGHT THEME WITH DARK SIDEBAR */
._5e434347c823b592-sidebar.theme-dark + .f75fb00fb7356cbe-chat,
._5e434347c823b592-sidebar.theme-dark + ._133bf5eea8e33a34-container,
._5e434347c823b592-sidebar.theme-dark + ._8a529c8f8d8148a5-container,
._5e434347c823b592-sidebar.theme-dark + .f07d62e29a48ceee-applicationStore,
._5e434347c823b592-sidebar.theme-dark + ._084152b107f71237-shop,
._5e434347c823b592-sidebar.theme-dark + .dc2e0e7839a6713a-container {
  border-radius: var(--card-radius-big);
  border-bottom-right-radius: 0;
}

/*
 *
 *	LOGIN SCREEN
 *
 */
._921c50dc4baa4b4f-authBox {
  padding: 24px 24px 0;
  background-color: var(--popout-color) !important;
  border-radius: var(--popout-radius-big) !important;
  border: none !important;
  box-shadow: var(--shadow-medium) !important;
}
._921c50dc4baa4b4f-authBox:last-child {
  padding-bottom: 24px;
}
._921c50dc4baa4b4f-authBox ._1d5fc857269ab40d-mainLoginContainer {
  margin-right: 24px;
  padding-right: 24px;
  border-right: 1px solid var(--card-border-color);
}
._921c50dc4baa4b4f-authBox .cf48127484dbde85-heading-xl\/semibold {
  margin-bottom: 16px;
  font-weight: 400;
}
._921c50dc4baa4b4f-authBox .e16417fd9812ee39-verticalSeparator {
  display: none;
}
._921c50dc4baa4b4f-authBox .e16417fd9812ee39-qrLogin {
  height: 320px;
}
._921c50dc4baa4b4f-authBox ._1d5fc857269ab40d-needAccount {
  line-height: 24px;
}
._921c50dc4baa4b4f-authBox ._201d5e8a3c09670a-lookLink .size14_a4e6b9 {
  line-height: var(--button-height);
}
._921c50dc4baa4b4f-authBox:not(.df9c062482b71af1-chooseAccountAuthBox) ._201d5e8a3c09670a-lookLink {
  --button-height: 17px;
  --button-padding-start: 0;
  --button-padding-end: 0;
  --button-radius: 0;
  font-size: var(--button-font-size) !important;
  font-weight: 400 !important;
}
._921c50dc4baa4b4f-authBox:not(.df9c062482b71af1-chooseAccountAuthBox) ._201d5e8a3c09670a-lookLink:after {
  display: none;
}
._921c50dc4baa4b4f-authBox:not(.df9c062482b71af1-chooseAccountAuthBox) ._201d5e8a3c09670a-lookLink:hover {
  text-decoration: underline !important;
}
._921c50dc4baa4b4f-authBox ._1d5fc857269ab40d-needAccount + ._201d5e8a3c09670a-lookLink {
  position: relative;
  top: -3px;
}

.navRow__86e92 {
  height: auto;
  padding: 24px;
  background-color: transparent !important;
}
.navRow__86e92 ._201d5e8a3c09670a-button {
  margin: 0;
}
.navRow__86e92 .button-1cRKG6 {
  margin: 0;
}

/*
 *
 *	LOADING ICONS
 *
 */
._46696d17714f10ab-path,
._46696d17714f10ab-path2,
._46696d17714f10ab-path3 {
  stroke: hsl(var(--accent-hsl--material-you)) !important;
}

._46696d17714f10ab-path2 {
  opacity: 0.6;
}

._46696d17714f10ab-path3 {
  opacity: 0.2;
}

._46696d17714f10ab-wanderingCubes ._46696d17714f10ab-item {
  background-color: hsl(var(--accent-hsl--material-you));
}

/*
 *
 *	APP TITLEBAR
 *
 */
.c38106a3f0c3ca76-bar {
  padding-left: 0;
  padding-right: var(--space-4);
}
.c38106a3f0c3ca76-bar .c38106a3f0c3ca76-leading {
  padding-left: var(--space-8);
}
.c38106a3f0c3ca76-bar .edbb22df99c39831-title {
  line-height: var(--custom-app-top-bar-height);
  padding: 0 10px;
  gap: 0;
}
.c38106a3f0c3ca76-bar .edbb22df99c39831-title:before, .c38106a3f0c3ca76-bar .edbb22df99c39831-title:after {
  font-size: 0.925em;
  color: var(--interactive-text-default);
}
.c38106a3f0c3ca76-bar .edbb22df99c39831-title:before {
  content: var(--app-watermark-one);
  font-weight: 700;
}
.c38106a3f0c3ca76-bar .edbb22df99c39831-title:after {
  content: var(--app-watermark-two);
}
.c38106a3f0c3ca76-bar .edbb22df99c39831-title .edbb22df99c39831-guildIcon,
.c38106a3f0c3ca76-bar .edbb22df99c39831-title .cf48127484dbde85-text-sm\/medium,
.c38106a3f0c3ca76-bar .edbb22df99c39831-title svg {
  display: none;
}
.c38106a3f0c3ca76-bar ._9293f6b2fc12398a-iconBadge {
  box-shadow: 0 0 0 4px var(--main-alt);
}

/* APP TITLE BAR -> BUTTONS */
._421edea01cb52e16-typeWindows._421edea01cb52e16-withFrame {
  height: var(--app-title-bar-height);
  margin-top: 0;
}

.c38106a3f0c3ca76-winButtons {
  padding-right: var(--space-xxs);
}

.c38106a3f0c3ca76-winButton {
  --app-title-bar-height: var(--custom-app-top-bar-height);
  width: calc(var(--app-title-bar-height) / 1.325);
  top: 0;
}
.c38106a3f0c3ca76-winButton:before {
  position: absolute;
  content: " ";
  width: 12px;
  height: 12px;
  background-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  filter: brightness(40%);
  z-index: 2;
  opacity: 0;
  transition: var(--default-time) var(--default-animation) opacity;
  pointer-events: none;
}
.c38106a3f0c3ca76-winButton:hover:before {
  opacity: 1;
}
.c38106a3f0c3ca76-winButton:after {
  position: absolute;
  content: " ";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--app-button-active);
  transition: var(--default-time) var(--default-animation);
  pointer-events: none;
}
.c38106a3f0c3ca76-winButton:active:after {
  opacity: 0.65;
}
.c38106a3f0c3ca76-winButton.c38106a3f0c3ca76-winButtonMinMax:nth-of-type(1):hover:after {
  background-color: var(--app-button-min);
}
.c38106a3f0c3ca76-winButton.c38106a3f0c3ca76-winButtonMinMax:nth-of-type(1):before {
  -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/window_minimize.svg);
  -webkit-mask-repeat: no-repeat;
  background-color: var(--app-button-min);
}
.c38106a3f0c3ca76-winButton.c38106a3f0c3ca76-winButtonMinMax:nth-of-type(2):hover:after {
  background-color: var(--app-button-max);
}
.c38106a3f0c3ca76-winButton.c38106a3f0c3ca76-winButtonMinMax:nth-of-type(2):before {
  -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/window_maximize.svg);
  -webkit-mask-repeat: no-repeat;
  background-color: var(--app-button-max);
}
.c38106a3f0c3ca76-winButton.c38106a3f0c3ca76-winButtonClose:hover:after {
  background-color: var(--app-button-close);
}
.c38106a3f0c3ca76-winButton.c38106a3f0c3ca76-winButtonClose:before {
  -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/window_close.svg);
  -webkit-mask-repeat: no-repeat;
  background-color: var(--app-button-close);
}
.c38106a3f0c3ca76-winButton:hover, .c38106a3f0c3ca76-winButton:active {
  background-color: transparent;
}
.c38106a3f0c3ca76-winButton svg {
  display: none;
}

html:not(.app-focused) .c38106a3f0c3ca76-winButton:after {
  background-color: var(--app-button-inactive);
}
html:not(.app-focused) .c38106a3f0c3ca76-winButton.c38106a3f0c3ca76-winButtonMinMax:after {
  background-color: var(--app-button-inactive);
}

/*
 *
 *	APP WATERMARK
 *
 */
._421edea01cb52e16-wordmark._421edea01cb52e16-wordmarkWindows {
  width: auto;
  height: var(--app-title-bar-height);
  padding: 0 0 0 4px;
  line-height: var(--app-title-bar-height);
  font-size: 0.9em;
  color: var(--interactive-text-default);
}
._421edea01cb52e16-wordmark._421edea01cb52e16-wordmarkWindows:before, ._421edea01cb52e16-wordmark._421edea01cb52e16-wordmarkWindows:after {
  position: relative;
  width: auto;
  height: var(--app-title-bar-height);
}
._421edea01cb52e16-wordmark._421edea01cb52e16-wordmarkWindows:before {
  content: var(--app-watermark-one);
  font-weight: 700;
}
._421edea01cb52e16-wordmark._421edea01cb52e16-wordmarkWindows:after {
  content: var(--app-watermark-two);
}
._421edea01cb52e16-wordmark._421edea01cb52e16-wordmarkWindows svg {
  display: none;
}

/*
 *
 *  CHANNELS LIST ACCOUNT PANEL
 *
 */
.content__37e49 {
  min-height: 100%;
  height: inherit;
  padding: 0 8px;
  background-color: transparent !important;
}

._37e49614b9f110a9-container {
  width: 100%;
  min-height: unset;
  height: var(--main-textarea-height);
  margin-bottom: 0;
  margin-left: 0;
  padding: 0 var(--space-xs) 0 6px;
  gap: var(--space-8);
  background-color: var(--status-picker-color);
  border-radius: var(--sidebar-panel-radius-small);
  box-sizing: border-box;
}
._37e49614b9f110a9-container ._37e49614b9f110a9-nameTag {
  margin-right: 2px;
}
._37e49614b9f110a9-container ._339d0fce6b76910a-subtext {
  line-height: 14px;
    }
